@import "../../styles/main.scss";
@import "../Navbar/Navbar.scss";

.sidebar {
  width: 225px;
  background-color: var(--accent);
  position: fixed;
  top: 0;
  right: -250px;
  /* Position the sidebar on the right side */
  height: 100%;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.2rem;
  z-index: 2;
}

.sidebar.open {
  right: 0;
}

.logo-sidebar {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  @extend .logo-navbar;
  font-size: 1.2rem;
}

.logo>img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 5px;
  margin-bottom: 10px;
}

.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 1.3rem;
}

.sidebar-icons a {
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  width: 100%;
  padding: .4rem;
}

/* Add hover effect */
.sidebar-icons a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 100%;
}

.sidebar-icons a svg {
  margin-right: .8rem;
  font-size: 1.3rem;
}

 
